.header {
  background-color: black;
  color: white;
}
.nav-bar {
    max-width: 900px;
    margin: 0 auto;
}
.nav-bar ul{
  list-style: none;
  padding-left: 0;
  display: flex;
}
.nav-bar ul li{
}
.nav-bar li:before {
  margin: 0 .5em 0 .5em;
  content: "|";
}
.nav-bar li:first-child:before {
    content: "";
    margin: 0;
}
.nav-bar a{
  color: white;
}
.main-content{
  padding-top: 1em;
  max-width: 900px;
  margin: 0 auto;
}
.main-content div:not(:last-child){
  border-bottom: 1px solid black;
}
.box-response{
  display: flex;
  margin: 1em 0 1em 0;
  padding: .5em;
  height: 200px;
}
img{
  display: none;
}
